@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    font-size: 62.5%;
    --hue: 170;

    --primary-color-maingreen: #007444;
    --primary-color-greenlight: #C1E6C5;
    --primary-color-greenlighter: #F1FAF2;

    --hover-color-maingreen: #005B35;

    --secondary-color-white: rgb(255, 255, 255);
    --secondary-color-head-maintitle: rgb(33, 37, 41);
    --secondary-color-head-subtitle: rgb(73, 80, 87);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-y: hidden;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 1.6rem;
    text-align: center;

    background-color: var(--primary-color-greenlighter);
}

main {
    display: grid;
    place-items: center;
    height: 100%;
}

.wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
    padding-inline: 7rem;
}

header {
    margin-bottom: 3rem;
}

.form__contain {
    display: flex;
    flex-direction: column;

    gap: 2.8rem;
}

.form__contain div {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

form label {
    text-align: left;

    margin-left: 1.2rem;

    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color-maingreen);
}

form input {
    border: none;
    outline: none;

    width: 100%;
    height: 4.1rem;

    border-radius: 3rem;
}

form button {
    margin-top: 6rem;
    padding: 1.6rem 3.2rem;

    border: none;
    border-radius: 3rem;

    background: var(--primary-color-maingreen);

    color: var(--primary-color-greenlighter);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;
}

p {
    margin-top: 2.3rem;

    font-weight: 500;
    font-size: 1.4rem;
    line-height: 160%;

    color: var(--secondary-color-head-subtitle);
}

p a {
    color: var(--primary-color-maingreen);
}

footer {
    margin-top: 10.8rem;

    display: flex;
    justify-content: center;
    gap: 3.2rem;
}